@mixin selfColour ( $colour ) {
  color: hsl($colour, 50%, 80%);
  background-color: hsl($colour, 50%, 50%);
}

%centred {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#summary {
  font-size: 2em;
}

#drilldown {
  display: flex;
  flex-wrap: wrap;
  h2 {
    margin: 0;
  }
  article {
    @extend %centred;
    // display: block;
  }
}

#control {
  @extend %centred;
}

.blob {
  text-align: center;
  padding: 0;
  .value {
    @include selfColour ( 120 );
    @extend %centred;
    border-radius: 50%;
    font-size: 5em;
    width: 2em;
    height: 1.5em;
    padding-top: 0.5em;
  }
}