@mixin selfColour ( $colour ) {
  color: hsl($colour, 50%, 80%);
  background-color: hsl($colour, 50%, 50%);
}

%centred {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#summary {
  font-size: 10em;
}

#drilldown {
  font-size: 5em;
  display: flex;
  flex-wrap: wrap;
}

#control {
  @extend %centred;
}

.blob {
  @extend %centred;
  @include selfColour ( 120 );
  border-radius: 50%;
  text-align: center;
  padding: 0;
  width: 2em;
  height: 2em;
  .value {
    padding-top: 0.5em;
  }
}